@charset "UTF-8";

/* General Style */

@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    min-height: 100vh;
}

body a {
    text-decoration: none;
    color: inherit;
}


/* Grid System */

header,
main {
    float: left;
    width: 100%;
}

.container {
    max-width: calc(100vw - 180px);
    margin-left: auto;
    margin-right: auto;
}


/* Header Style */

header {
    padding-top: 54px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-of-type) {
    margin-right: 40px;
}


/* Footer Style */

footer span.country {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 500;
}

footer h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer {
    position: absolute;
    bottom: 5vh;
    left: 90px;
}

footer img {
    max-width: 42px;
    max-height: 42px;
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
}

footer h2 {
    font-size: 15px;
    font-weight: 100;
}

footer span {
    display: block;
}

#social-media {
    margin-top: 15px;
}

#social-media .social-media-item a {
    display: block;
}

#social-media .social-media-item a img {
    max-width: 32px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

#social-media .social-media-item a:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/* Portfolio Slider */

main {
    height: 60vh;
}

main .container {
    height: 100%;
}

#portfolio-slider {
    position: relative;
    z-index: 1;
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 40px;
    overflow: -moz-scrollbars-none;
    overflow: hidden;
    height: 100%;
    margin-top: 80px;
}

button.slick-arrow {
    display: none !important;
}

#portfolio-slider .portfolio-item {
    background-color: #f3f3f3;
    display: inline-flex;
    border-radius: 10px;
    width: auto;
    height: 480px;
    margin: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
    text-align: center;
    top: 0;
    width: 350px;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
}

#portfolio-slider .portfolio-item.selected {
    margin: 15px 215px 0 215px;
}

#portfolio-slider .portfolio-item:first-child {
    margin-left: 0;
}

#portfolio-slider .portfolio-item:not(:last-child) {
    margin-right: 117px;
}

#portfolio-slider .portfolio-item.slick-active {
    width: 1002px !important;
}